<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>Welcome to our website!</h1>
    <h2>welcome <%=uname%></h2>
    <%for(let start=0;start<30;start++) { 
        <h1> heading <%=start%></h1>} %>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Consequuntur quos, accusamus necessitatibus ratione repellat 
         odio eaque est quae veniam rerum libero maiores,
          quas officia nemo magni totam! Totam, ab id.</p>
</body>
</html>