<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h1>Login here</h1>
    <form action="">
        <input type="text"  placeholder="Username" id="username"><br>
        <input type="email" placeholder="username@email.com" id="email"><br>
        <input type="password" placeholder="password"id="password" required min=10>
        <input type="submit" value="Login">
    </form>
</body>
</html>